.container{
    margin:50px 0 !important;
    display: flex;
    flex-direction: column;
     align-items: center;
    margin: 50px 0;
}

.Card{
    margin: 0 2% !important;
}


.Infected{
    border-bottom:10px solid rgba(40, 40, 248, 0.904) !important;
}
.recovered{
    border-bottom:10px solid rgb(1, 146, 21) !important;
}
.deaths{
    border-bottom:10px solid rgb(255, 0, 34) !important;
}

@media only screen and (max-width: 770px) {
  .Card {
    margin: 3% 0 !important;
  }
}


